.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 243);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.p-browser {
  height: 20px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
}

.p-cirle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(165, 75, 211);
  margin: 3px;
}

.p-img {
  width: 100%;
  border: 5px solid pirgb(85, 85, 85);
  border-color: blueviolet;
}

.image__overlayP {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  font-family: "qicksand";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
/* creates hover effect  */
.image__overlayP:hover {
  opacity: 1;
}
/* Project title in overlay */
.image__titleP {
  font-size: 2.05em;
  margin-top: 0.25em;
}
.image {
  position: relative;
  width: 30%;
}
.imgage__img {
  display: flex;
  width: 100%;
}
.image__descriptionP {
  font-size: small;
}
